body 
{
	margin: 0;
	color: #73879C;
	background: #e7eaec;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.471;
	overflow-x: hidden;
}
.container 
{
	width: 100%;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}
* 
{
	box-sizing: border-box;
}
.col-md-3.left-col
{
	width: 230px;
	padding: 0;
	position: absolute;
	float: left;
}